@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav ul li {
  flex: 1;
  transition: all 0.5s ease-out;
}

.navDot {
  visibility: hidden;
}

.active a .navDot {
  visibility: visible;
  width: 20px;
  height: 20px;
  left: 398px;
  top: 14px;
  border-radius: 50%;
  margin-left: 0.5em;
  align-self: center;
  background: #66ab8a;
}
